header {
    background-color: #313748;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    height: 70px;
    width: 100%;
    margin: 0;
}

header h1 {
    margin: 0;
    justify-content: center;
    font-size: 25px;
    font-family: 'Teko', sans-serif;
}

header h2 {
    margin: 0;
    font-size: 20px;
    font-family: 'Zen Kurenaido', sans-serif;
}

.header_title {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #e1e5e8;
    margin: 0;
    padding: 0;
    font-family: 'Kiwi Maru', serif;
}

.header_logo {
    height: 60px;
}

textarea{
    width: 100%;
    min-height: 200px;
}

.header_logo > img {
    height: 70px;
}

.content{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 0 10px;
    min-width: 400px;
    justify-content: center;
    max-width: 800px;
}

.update_button{
    background-color: #313748;
    width: 100%;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Kiwi Maru', serif;

}

#status{
    width: 100%;
    text-align: center;
}

footer {
    position: fixed;
    height: 37px;
    bottom: 0;
    background-color: #080000;
    width: 100%;
}

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #080000;
}

.footer-div>p {
    margin: 0;
    font-size: 10px;
    padding: 0;
    color: white;
    background-color: #080000;
}

.footer-logo>img {
    height: 22px;
    padding: 0;
}

.footer-logo {
    background-color: #080000;
    height: 22px;
    justify-content: center;
}
